body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px; /* Добавлен отступ вокруг формы */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px; /* Увеличена ширина формы */
}

h1 {
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    width: 100%;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #0070ff;
}

.btn {
    background-color: #0070ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0050cc;
}
.a {
    text-decoration: none;
}